* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: perspective(400px) rotateX(50deg);
}

/* .lane {
  width: 100px;
  height: 100%;
  margin: 0 10px;
  position: relative;
  border: 1px solid black;
  background: linear-gradient(to top, #fff, #8200ff);
} */

.lane {
  width: 100px;
  height: 100%;
  margin: 0 10px;
  position: relative;
  border: 1px solid black;
  /* background: linear-gradient(to top, #000000, #8200ff, #000000); */
  /* background: linear-gradient(to bottom, #000000, #8200ff, #000000); */
  background: linear-gradient(to right, #000, #8200ff, #000);
}

.lane::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background: grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block {
  width: 80px;
  height: 160px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation-name: fall;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  cursor: pointer;
}

@keyframes fall {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100vh;
    opacity: 100;
  }
}

.red {
  background: linear-gradient(to top, #ff0000, #00ffff);
  border-radius: 100px;
  border: 10px solid black;
}

.green {
  background: linear-gradient(to top, #ff8c00, #4b0082);
  border-radius: 100px;
  border: 10px solid black;
}

.blue {
  background: linear-gradient(to top, #00ced1, #ff1493);
  border-radius: 100px;
  border: 10px solid black;
}

.yellow {
  background: linear-gradient(to top, #6495ed, #ff69b4);
  border-radius: 100px;
  border: 10px solid black;
}

.purple {
  background: linear-gradient(to top, #008080, #ffa500);
  border-radius: 100px;
  border: 10px solid black;
}
