* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

button {
  background-color: white;
  /* border: 6px; */
  padding: 24px 48px;
  font-size: 2em;
  border: 10px solid black;
  border-radius: 100px;
  margin: 1em;
  cursor: pointer;
}

button:hover {
  background-color: rgb(253, 170, 253);
}

button:active {
  background-color: rgb(242, 101, 242);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: perspective(400px) rotateX(50deg);
}

.lane {
  width: 100px;
  height: 100%;
  margin: 0 10px;
  position: relative;
  border: 1px solid black;
  background: linear-gradient(to right, #000, #8200ff, #000);
}

.lane::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background: grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block {
  width: 80px;
  height: 160px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation-name: fall;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  cursor: pointer;
  z-index: 100;
}

@keyframes fall {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100vh;
    opacity: 100;
  }
}

.red {
  background: linear-gradient(to top, #ff0000, #00ffff);
  border-radius: 100px;
  border: 10px solid black;
}

.green {
  background: linear-gradient(to top, #ff8c00, #4b0082);
  border-radius: 100px;
  border: 10px solid black;
}

.blue {
  background: linear-gradient(to top, #00ced1, #ff1493);
  border-radius: 100px;
  border: 10px solid black;
}

.yellow {
  background: linear-gradient(to top, #6495ed, #ff69b4);
  border-radius: 100px;
  border: 10px solid black;
}

.purple {
  background: linear-gradient(to top, #008080, #ffa500);
  border-radius: 100px;
  border: 10px solid black;
}

/*  */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, #ffff10, #e73c3c, #234fd5, #23d541);
  background-size: 400% 400%;
  height: 100vh;
  animation: gradient;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
